## c# gitignore
# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Temporary files
*.tmp
*.temp

## python gitignore
# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual Environments
venv/

## Docker volumes
sqlvol